{% extends "base.html" %}

{% block content %}
<h2>Client Dashboard</h2>

<h3>Next Appointment</h3>

{% if next_appointment %}
<p>
    {{ next_appointment.start_time }} with
    {{ next_appointment.psychologist.username }}
</p>
{% else %}
<p>No upcoming appointments</p>
{% endif %}

<h3>Outstanding Balance</h3>

<p>You currently owe: €{{ total_due }}</p>

<h3>Your appointments</h3>

<table class="table table-striped">
<tr>
    <th>Date</th>
    <th>Price</th>
    <th>Status</th>
    <th>Cancel</th>
</tr>

{% for appointment in appointments %}
<tr>
    <td>{{ appointment.start_time }}</td>
    <td>{{ appointment.price }}</td>

    <td>
        {% if appointment.paid %}
            <span class="badge bg-success">Paid</span>
        {% else %}
            <span class="badge bg-danger">Unpaid</span>
        {% endif %}
    </td>
    <td>
        <a href="{% url 'cancel_appointment' appointment.id %}">
            Cancel
        </a>
    </td>
</tr>
{% endfor %}
</table>

<h3>Write a Journal Entry</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Save Note</button>
</form>



<h3>Notes</h3>
{% for note in notes %}

<div class="card mb-3">
    <div class="card-body">

        <small class="text-muted">
            {{ note.author.username }} – {{ note.created_at }}
        </small>

        <p class="mt-2">
            {{ note.text }}
        </p>

        {% if note.attachment %}
            <a href="{{ note.attachment.url }}"  target="_blank" rel="noopener noreferrer">
                Attachment
            </a>
        {% endif %}

    </div>
</div>

{% empty %}

<p>No notes yet</p>

{% endfor %}

{% endblock %}